body {
  font-size: 10pt;
}

a, a:visited {
  color: inherit;
}

.main {
  width: 100%;
  max-width: 100%;
}
.main>section {
  page-break-inside: avoid;
}
.main>section.experiences {
  page-break-inside: auto;
}
.main>section.experiences .experience {
  page-break-inside: avoid;
}
