body {
  padding: 1em;
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: rgb(0, 0, 224);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 650px) {
  body {
    padding: 2em;
  }
}